@import 'vuetify/lib/styles/settings/_variables.scss';

// fonts
$font-montserrat-alt: "Montserrat-Alt1";

//colors
$color-black: black;
$color-white: white;

// pallet
$logo-gradient-dark: linear-gradient(90deg, #ffffff 0%, #bcb9b2 10%, #86857f 70%, #7e7d78 100%);
$logo-gradient-light: linear-gradient(90deg, #000000 0%, #3a3a3a 15%, #525151 70%, #7e7e7e 100%);
